a {
    text-decoration: none;
    align-content: center;
}

h3 {
    margin: 0;
}

/* DIMMING FILTER AS DIV */
.darken20 {
    display: flex;
    align-self: stretch;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin: 0;

    background-color: rgba(0,0,0,0.2);
}

/* TOP-NAV */
.top-nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
}

.top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    padding: 0px 20px 0px 20px;
    width: 60%;
    height: 30px;
    min-width: 60%;
    min-height: 30px;
    max-width: 60%;
    max-height: 30px;

    position: relative;

    color: #777;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;  
}

.fa-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.top-nav-icon {
    font-size: 16px;
    color: #777;
}

.top-nav-icon:hover {
    font-size: 18px;
    color: white;
}

.top-nav-icon:active {
    font-size: 16px;
    color: #777;
}

.divider {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 20px;
    text-align: center;
}

/* WEATHER & DATE */
.weather-date-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: transparent;
}

.weather-date-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    flex-wrap: nowrap;

    height: auto;
    flex-grow: 1;
    
    background-color: transparent;

    margin-top: 20px;
    padding: 25px;
}

.homepage-heading {
    align-self: center;
    display: block;
    /* padding-top: 50px; */
}

.date {
    display: block;
    font-family: 'Vollkorn SC', serif;
    font-size: 3em;
    color: #f2e9e9;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0px;
    padding: 10px 0;
    /* text-shadow: 2px 2px 3px #000; */
}

.temp {
    display: block;
    margin: 0;
    font-family: 'Vollkorn SC', serif;
    font-size: 3.75em;
    color: #f2e9e9;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    /* text-shadow: 2px 2px 3px #000; */
}

/* BOTTOM NAV */
.bottom-nav {
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.bottom-nav-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.home-footer {
    display: flex;
    /* align-self: stretch; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-shrink: 1;

    width: 100%;
    margin-bottom: 70px;
    max-width: 60%;
}


.home-footer-nav:hover {
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.home-footer-nav:active {
    font-size: 26px;
    color: #f2e9e9;
}

/* .footer-nav-radial {
    background-image: radial-gradient(black, transparent);
    flex-grow: 1;
    opacity: 25%;
} */

.home-footer-nav {
    display: block;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
    color: #f2e9e9;
    font-weight: 500;    
    font-size: 26px;
    line-height: 36px;
}

.footer-divider {
    text-align: center;
    font-family: 'Vollkorn SC', serif;
    color: #f2e9e9;
    font-weight: 500;
    font-size: 2em;
}