a {
    text-decoration: none;
    align-content: center;
}

h3 {
    margin: 0;
}

/* WEATHER & DATE */
.weather-date-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: transparent;
}

.weather-date-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    flex-wrap: nowrap;

    height: auto;
    flex-grow: 1;
    
    background-color: transparent;

    margin-top: 20px;
    padding: 25px;
}

.homepage-heading {
    align-self: center;
    display: block;
    /* padding-top: 50px; */
}

.date {
    display: block;
    font-family: 'Vollkorn SC', serif;
    font-size: 3em;
    color: #f2e9e9;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0px;
    padding: 10px 0;
    /* text-shadow: 2px 2px 3px #000; */
}

.temp {
    display: block;
    margin: 0;
    font-family: 'Vollkorn SC', serif;
    font-size: 3.75em;
    color: #f2e9e9;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    /* text-shadow: 2px 2px 3px #000; */
}

/* BOTTOM NAV */
.bottom-nav {
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.bottom-nav-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.home-footer {
    display: flex;
    /* align-self: stretch; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-shrink: 1;

    width: 100%;
    margin-bottom: 70px;
    max-width: 80%;
}


.home-footer-nav:hover {
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.home-footer-nav:active {
    font-size: 26px;
    color: #f2e9e9;
}

/* .footer-nav-radial {
    background-image: radial-gradient(black, transparent);
    flex-grow: 1;
    opacity: 25%;
} */

.home-footer-nav {
    display: block;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
    color: #f2e9e9;
    font-weight: 500;    
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 2px;;
}

.footer-divider {
    text-align: center;
    font-family: 'Vollkorn SC', serif;
    color: #f2e9e9;
    font-weight: 500;
    font-size: 2em;
}