/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(85,85,85,.);
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85,85,85,.5);
    opacity: 50%;
    cursor: pointer;
}


/* ------------------- JOURNAL MODAL --------------------- */
.modalWrapper {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    
    background-color: rgba(0,0,0,0.8);
}

.journalOpen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    padding: 10px;
    
    min-width: 100vh;
    min-height: 70vh;
    max-width: 100vh;
    max-height: 70vh;
    width: 100vh;
    height: 70vh;

    border-radius: 10px;

    background-image: url("../../images/Journal_Open.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.journal-page-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;

    width: 50%;
    height: 100%;

    /* padding: 30px 20px 30px 30px; */
}

.journal-page-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;

    width: 50%;
    height: 100%;

    /* padding: 30px 30px 30px 20px; */
}

.journal-page-footer-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    /* padding: 0 30px 0 10px; */
    width: 100%;
}

.journal-page-footer-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    /* padding: 0 10px 0 30px; */
    width: 100%;
}

.journal-button {
    background-color: transparent;
    border-style: none;
    font-family: Planewalker;
    font-size: 20px;
    cursor: pointer;
}

.journal-page-number {
    font-family: Planewalker;
    font-size: 20px;
}

.journal-entry-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 40em;
    min-height: 100%;
}

.entries {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    overflow: scroll;
    overflow-x: hidden;
    height: 35em;
    width: 50em;
    background-color: rgba(0,0,0,.25);
    padding: 20px 0 0 20px;
}

.newEntry-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 20px 10px 10px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.entry-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 10px 10px 20px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-plus-square::before {
    font-size: 18px;
    color: #f2e9e9;
    margin: 0;
    width: 100%;
    height: 100%;
}

.fa-search::before {
    font-size: 18px;
    color: #f2e9e9;
    width: 100%;
    height: 100%;
}

.fa-plus-square::before:hover {
    opacity: 80%;
    color: white;
}

.search-add-entry-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:  rgba(0,0,0,.3);
    min-width: 40px;
    min-height: 50px;
    margin-top: 2em;
    border-radius: 10px 0 0 10px;
    /* min-width: 32em; */
    /* margin-top: 2em;
    padding-right: 20px; */
}

.search-add-entry-ul {
    padding-inline-start: 10px;
}

/* .input--wide {
    opacity: 50%;
    border-radius: 4px;
    border: none;
    padding: 4px 8px 2px;
    width: 200px;
    font-family: Planewalker;
    font-size: 18px;
}

.input--wide:hover {
    opacity: 80%;
    border-radius: 4px;
    border: none;
    padding: 4px 8px 2px;
    width: 200px;
    font-family: Planewalker;
    font-size: 18px;
}

.input--wide:focus {
    opacity: 80%;
    border-radius: 4px;
    border: none;
    padding: 4px 8px 2px;
    width: 200px;
    font-family: Planewalker;
    font-size: 18px;
} */

/* Tooltip container */
.newEntry-tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */
.newEntry-tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0,0,0,.5);
    color: #f2e9e9;
    font-family: Planewalker;
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -5px;
    right: 130%;
}

.newEntry-tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.newEntry-tooltip:hover .tooltiptext {
    visibility: visible;
}

.entry-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Planewalker;
    font-size: 24px;
    font-weight: 500;
    color: #f2e9e9;
    text-shadow: 2px 2px 5px #000;
    height: 40px
}

a.entry-title-link:link {
    font-family: Planewalker;
    color: #f2e9e9;
    font-size: 24px;
    font-weight: 400;
}

a.entry-title-link:visited {
    font-family: Planewalker;
    color: #f2e9e9;
}

a.entry-title-link:hover {
    font-family: Planewalker;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

a.entry-title-link:active {
    font-family: Planewalker;
    color: white;
    font-size: 24px;
}

.entry-title-tooltip {
    position: relative;
    display: inline-block;
}

.entry-title-tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgba(0,0,0,.5);
    color: #f2e9e9;
    font-family: Planewalker;
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 101%;
}

.entry-title-tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.entry-title-tooltip:hover .tooltiptext {
    visibility: visible;
}

.entry {
    font-family: Planewalker;
    font-size: 20px;
    font-weight: 400;
    color: #f2e9e9;
    padding: 0px 10px 0px 0px;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 1em;
}

.edit-delete-journal-entry {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;
}

.journal-entry-edit-button {
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 4px;
    font-family: Planewalker;
    color: #f2e9e9;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    width: 75px;
    max-width: 100px;
    height: 40px;
}

.journal-entry-edit-button:hover {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.journal-entry-edit-button:active {
    color: #f2e9e9;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.journal-entry-delete-button {
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 4px;
    font-family: Planewalker;
    color: #f2e9e9;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    width: 75px;
    max-width: 100px;
    height: 40px;
}

.journal-entry-delete-button:hover {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.journal-entry-delete-button:active {
    color: #f2e9e9;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.journal-entry-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 4px;
    font-family: Planewalker;
    color: #f2e9e9;
    font-size: 18px;
    align-content: center;
    cursor: pointer;
    width: 75px;
    max-width: 100px;
    height: 40px;
}

.journal-entry-close-button:hover {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.journal-entry-close-button:active {
    color: #f2e9e9;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.journal-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: justify;

    padding: 10px;
}

.journal-entry-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 32em;
    text-align: justify;

    padding: 10px;
    margin-top: 2em;
}

/* ------------------JOURNAL ENTRY FORM---------------------- */
.journalEntryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 1em;
    min-width: 600px;
}

.journal-entry-title-field {
    min-width: 400px;
    /* background-color: rgba(0,0,0,.75); */
    font-family: Planewalker;
    font-size: 20px;
    /* color: #f2e9e9; */
    border-color: black;
}

.journal-entry-text-field {
    font-family: Planewalker;
    font-size: 20px;
    font-weight: 400;
    /* color: #f2e9e9; */
    padding: 10px;
    margin-bottom: 1em;
    min-height: 400px;
    min-width: 400px;
    /* background-color: rgba(0,0,0,.75); */
    /* text-align: justify; */
    border-color: black;
}

.journal-entry-save {
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 4px;
    font-family: Planewalker;
    color: #f2e9e9;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    width: 75px;
    max-width: 100px;
    height: 40px;
    text-shadow: 2px 2px 5px #000;
}

.journal-entry-save:hover {
    color: white;
    font-size: 22px;
    font-weight: 400;
}

.journal-entry-save:active {
    color: #f2e9e9;
    font-size: 20px;
    font-weight: 400;
    border: none;
}

.save-close-button-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 200px;
}


/* ------------------- JOURNAL MAIN PAGE ----------------------- */
.journal-main-section {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /* position: fixed; */
    max-width: 100%;
    max-height: 100%;

    width: 100%;
    height: 100%;
}

.journal-categories {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 1em;
}

.journal-cat-left {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: transparent;
}

.journal-cat-right {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: transparent;
}

.journal-cat-darken15 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.15);
}

.journal-h2-button {
    font-family: 'Vollkorn SC', serif;
    font-size: 32px;
    color: #f2e9e9;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}

.journal-h2-button:hover {
    font-size: 34px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.journal-h2-button:active {
    font-size: 32px;
    color: #f2e9e9;
}

.journal-cat-adventures {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    padding: 20px 0px;

    width: 400px;
    height: 200px;
    min-width: 300px;
    min-height: 100px;

    background-color: black;
    border-radius: 10px;
}

.adventures-pic-div {
    width: 100%;
    height: 100%;

    background-image: url("../../images/map3_vignette75.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.journal-cat-journal {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    padding: 20px 0px;

    width: 400px;
    height: 300px;
    min-width: 300px;
    min-height: 100px;

    background-color: black;
    border-radius: 10px;
}

.journal-pic-div {
    width: 100%;
    height: 100%;

    background-image: url("../../images/writingdesk1_vignette.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.journal-cat-achievements {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    padding: 20px 0px;

    width: 400px;
    height: 560px;
    min-width: 300px;
    min-height: 100px;

    background-color: black;
    border-radius: 10px;
}

.achievements-pic-div {
    width: 100%;
    height: 100%;

    background-image: url("../../images/castle-mist_vignette75.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.goals-p {
    margin: 0px;
}

.achievements-p {
    margin: 0px;
}